---
import Title from "./Title.astro";
import CardInfo from "@/components/CardInfo.astro";
import IconPeople from "@/assets/people.svg";
import IconDiana from "@/assets/diana.svg";
import IconClock from "@/assets/clock.svg";
import type { HomeI18n } from "@/types/types";

const data = Astro.props.data as HomeI18n;
---

<section>
  <Title sizeText="text-2xl" sizeLine="w-20">{data.title}</Title>
  <div class="flex flex-col md:flex-row w-full max-w-3xl mx-auto px-4 items-center">
    <img src="/img/about_us.webp" alt="" class="w-full md:w-[300px] h-52 md:h-[400px] rounded-md object-cover" />
    <div class="p-5 flex-1">
      <h3 class="text-[--color-red] mb-5 font-semibold text-xl">{data.about_us.title}</h3>
      <p class="text-xs text-black">
        {
          data.about_us.description.map((desc, i) => (
            <>
              {desc}
              {i < data.about_us.description.length - 1 && <br />}
            </>
          ))
        }
      </p>
      <div class="flex gap-6 mt-4 text-red text-xl">
        <div class="text-center"><p>2500+</p><p class="text-sm">{data.info.students}</p></div>
        <div class="text-center"><p>50+</p> <p class="text-sm">{data.info.teachers}</p></div>
        <div class="text-center"><p>98%</p> <p class="text-sm">{data.info.satisfaction}</p></div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-3xl mx-auto px-4 mb-20">
    <h3 class="mt-24 text-center text-[--color-red] font-semibold mb-5">{data.focus.title}</h3>
    <div class="flex flex-col md:flex-row gap-6 mb-10 justify-center">
      <CardInfo colourRectangle="bg-salmon">
        <span slot="icon"><IconPeople /></span>
        <span slot="title">{data.focus.cards[0].title}</span>
        <span slot="description"> {data.focus.cards[0].description}</span>
      </CardInfo>
      <CardInfo colourRectangle="bg-lightRed">
        <span slot="icon"><IconDiana /></span>
        <span slot="title">{data.focus.cards[1].title}</span>
        <span slot="description"> {data.focus.cards[1].description}</span>
      </CardInfo>
      <CardInfo colourRectangle="bg-lightBrown">
        <span slot="icon"><IconClock /></span>
        <span slot="title">{data.focus.cards[2].title}</span>
        <span slot="description"> {data.focus.cards[2].description}</span>
      </CardInfo>
    </div>
    <p class="m-10 text-[--color-red] text-center text-sm">
      <span slot="title">{data.focus.note[0]}</span><br />
      <span slot="description">{data.focus.note[1]}</span>
    </p>
  </div>
</section>
