---
import IconCheck from "@/assets/check.svg";
import type { CardPricingType } from "@/types/types";

const data = Astro.props.data as CardPricingType;
---

<div
  class="text-center text-[--color-black] bg-[--color-smooth-brown] rounded-xl py-10 px-5 flex flex-col justify-between flex-1 h-full"
>
  <div>
    <h2 class="font-semibold text-[--color-red]">{data.title}</h2>
    <p class="text-xs px-5">{data.description}</p>
    <h3 class="font-semibold text-[--color-red] my-5 text-lg">
      {data.price.amount}{data.price.currency}<span class="text-sm">{data.price.time}</span>
    </h3>
    <ul class="text-start text-xs">
      {
        (data.content ?? []).map((item: string) => (
          <li class="flex my-2 gap-x-2">
            <IconCheck />
            {item}
          </li>
        ))
      }
    </ul>
  </div>
  <button class="bg-[--color-salmon] rounded-md py-3 px-5 xl:px-10 text-[--color-white] font-semibold">
    {data.button}
  </button>
</div>
