---
import type { HeaderIn18 } from "@/types/types";
import Hamburger from "@/components/Hamburger.astro";
import Traductor from "./Traductor.astro";
import Theme from "./Theme.astro";

const data = Astro.props.data as HeaderIn18;
const { lang } = Astro.params;
---

<header class="h-20 w-full bg-background flex items-center justify-between">
  <Hamburger />
  <img src="/img/logo_amanah.webp" alt="" class="h-full hidden md:block" />
  <nav class="hidden md:block z-10">
    <ul class="flex flex-row gap-6 items-center color-red text-[--color-red] font-jomolhari justify-center">
      <li><a href={!lang ? "/" : `/${lang}/`}>{data.about_us}</a></li>
      <li><a href={!lang ? "/articles" : `/${lang}/articles`}>{data.articles}</a></li>
      <li><a href={!lang ? "/pricing" : `/${lang}/pricing`}>{data.pricing}</a></li>
      <li><a href={!lang ? "/courses" : `/${lang}/courses`}>{data.courses}</a></li>
      <li><a href={!lang ? "/comments" : `/${lang}/comments`}>{data.comments}</a></li>
      <li><a href={!lang ? "/contact" : `/${lang}/contact`}>{data.contact}</a></li>
    </ul>
  </nav>
  <div class="flex z-10">
    <Theme />
    <Traductor />
  </div>
</header>
