---
import type { FooterI18n } from "@/types/types";
import PhoneIcon from "@/assets/phone.svg";
import GmailIcon from "@/assets/gmail.svg";
import InstagramIcon from "@/assets/instagram.svg";

const data = Astro.props.data as FooterI18n;
---

<footer class="text-xs md:text-sm bg-brown w-full h-28 flex items-center px-3 md:px-8 text-gray-100 relative">
  <ul class="flex-1 space-y-1">
    <li>
      <a class="flex items-center px-2" href="tel:+34 644502077" rel="noopener noreferrer">
        <PhoneIcon width={20} height={20} class="mr-2" />
        +34 644 502 077
      </a>
    </li>
    <li>
      <a class="flex items-center px-2" href="mailto:support@amanahacademia.com" rel="noopener noreferrer">
        <GmailIcon width={20} height={20} class="mr-2" />
        support@amanahacademia.com
      </a>
    </li>
    <li>
      <a class="flex items-center px-2" href="https://www.instagram.com/amanahacademia" rel="noopener noreferrer">
        <InstagramIcon width={20} height={20} class="mr-2" />
        @amanahacademia
      </a>
    </li>
  </ul>
  <small
    class="text-[8px] md:text-sm text-center px-2 absolute left-1/2 -translate-x-1/2 bottom-2 md:bottom-auto md:top-1/2 md:-translate-y-1/2"
    >© {new Date().getFullYear()} Amanah Academia</small
  >
  <ul class="flex-1 space-y-1 text-right">
    <li>
      <a target="_blank" href="/legal" title={data.license} rel="license" aria-label={data.license}>
        {data.license}
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="/legal"
        title={data.privacy_policy}
        rel="noopener noreferrer"
        aria-label={data.privacy_policy}
      >
        {data.privacy_policy}
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="/legal"
        title={data.terms_of_service}
        rel="noopener noreferrer"
        aria-label={data.terms_of_service}
      >
        {data.terms_of_service}
      </a>
    </li>
  </ul>
</footer>
