---
import type { Booking } from "@/types/bakend-types";
import { icons, iconColors } from "@/utils/pannel";

interface Props {
  booking: Booking;
  iconType: "users" | "active" | "new" | "conversion";
}

const { booking, iconType } = Astro.props;
---

<div
  class="flex flex-row items-center bg-[#fff4e1] rounded-xl shadow-sm hover:shadow-md transition-shadow p-6 border border-[#fee8d6] w-full"
>
  <div class="items-center justify-between mb-4 align-middle p-2 flex flex-col">
    <div class={` w-12 h-12 rounded-lg flex items-center justify-center ${iconColors[iconType]}`}>
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" set:html={icons[iconType]} />
    </div>
    <div class="my-2 bg-red text-white p-1 rounded-md text-[10px] font-semibold">{booking.uid}</div>
  </div>
  <div class="m-4 flex-grow">
    <span class="flex items-center gap-2 my-2 font-bold">
      Estado: <h3 class="text-[#8a4141] text-md capitalize">{booking.status}</h3>
    </span>
    <p class="text-md font-normal text-[#131313]">{booking.title}</p>
    <p class="text-xs font-normal text-[#131313]">{booking.description}</p>
  </div>
  <div>
    <p class="text-sm font-bold text-[#131313]">
      Dia: {booking.startTime?.split("T")[0].split("-").reverse().join("/")}
    </p>
    <p class="text-sm font-bold text-[#131313]">Inicio: {booking.startTime?.split("T")[1].split(".")[0]}</p>
    <p class="text-sm font-bold text-[#131313]">Fin: {booking.endTime?.split("T")[1].split(".")[0]}</p>
  </div>
</div>
