---
import type { CourseI18n } from "@/types/types";
import CardModule from "@/components/courses/CardModule.astro";
import Title from "@/components/common/Title.astro";

const data = Astro.props.data as CourseI18n;
---

<main class="mb-20 text-black">
  <Title sizeText="text-2xl" sizeLine="h-1" sizeWidth="w-16">{data.title}</Title>
  <div class="text-center m-auto w-3/4 xl:w-1/2">
    {data.summary.map((data, _) => <p>{data}</p>)}
  </div>
  <div class="flex flex-col md:flex-row w-full xl:w-3/4 m-auto px-0 md:px-10 lg:px-0 scroll-fade-in">
    <div class="min-w-96 p-10 flex flex-col justify-center align-middle items-center">
      <h1 class="text-red font-semibold text-2xl">
        {data.ideal_for.title}<br /><span class="text-[--color-salmon]">{data.ideal_for.title_color}</span>
      </h1>
      <img src="/img/salmon.webp" alt="" class="w-96 h-auto min-h-32 sm:min-h-40 my-2 object-cover" />
    </div>
    <div class="flex flex-col justify-center items-start px-5 md:px-0">
      {
        data.ideal_for.points.map((data, i) => (
          <div class="m-3 flex justify-center items-start flex-col md:flex-row ">
            <div class="flex justify-center items-center">
              <div class="bg-salmon min-w-6 h-6 rounded-full m-3 text-white flex justify-center align-middle">
                {i + 1}
              </div>
              <h2 class="font-semibold text-red min-w-20 lg:min-w-36 text-sm lg:text-base max-w-96 lg:max-w-36">
                {data.title}
              </h2>
            </div>
            <p class="text-sm text-[--color-black]">{data.description}</p>
          </div>
        ))
      }
    </div>
  </div>
  <div class="w-full md:w-1/2 p-10 md:m-auto scroll-fade-in">
    <h1 class="text-red">
      <span class="text--salmon font-bold">{data.modules.title}</span>{" "}{data.modules.title_color}
    </h1>
    <CardModule sessons={4} homeworks={1} modulo={2} content={["Ejemplo 2", "No se que poner", "Esto es un ejemplo"]} />
    <CardModule sessons={2} homeworks={2} modulo={3} content={["Puedes no poner imagenes"]} />
    <CardModule sessons={1} homeworks={3} modulo={4} content={["Podcast"]} />
  </div>
</main>
