---
import type { CourseI18n } from "@/types/types";
import CardModule from "@/components/courses/CardModule.astro";
import Title from "@/components/common/Title.astro";

const data = Astro.props.data as CourseI18n;
// const courses = [
//   {
//     sessions: [4, "Sesiones de video"],
//     homeworks: [1, "Tareas y recursos"],
//     title: "Conceptos básicos del español",
//     description:
//       "Empieza tu viaje en el español con este módulo introductorio. Aprende las bases del idioma de manera práctica y sencilla, y adquiere confianza para tus primeras conversaciones.",
//     content: [
//       "Aprende las bases del idioma español: saludos, presentaciones y frases esenciales.",
//       "Perfecto para principiantes que quieren empezar a hablar desde el primer día.",
//       "Incluye un cuaderno de ejercicios para practicar en casa.",
//     ],
//   },
//   {
//     sessions: [3, "Sesiones de video"],
//     homeworks: [2, "Tareas y recursos"],
//     title: "Vocabulario diario y expresiones útiles",
//     description:
//       "Mejora tu vocabulario para situaciones cotidianas y comunícate con seguridad en la vida diaria. Este módulo te ayuda a entender y usar expresiones reales que usan los hablantes nativos.",
//     content: [
//       "Amplía tu vocabulario para usarlo en situaciones cotidianas: compras, viajes y restaurante.",
//       "Recibe dos ejercicios imprimibles para reforzar lo aprendido.",
//       "Aprende expresiones típicas y modismos que usan los hablantes nativos.",
//     ],
//   },
//   {
//     sessions: [2, "Sesiones de video"],
//     homeworks: [1, "Tareas y recursos"],
//     title: "Gramática esencial sin complicaciones",
//     description:
//       "Domina la gramática del español sin sentirte abrumado. Este módulo te enseña las reglas más importantes de manera clara, para que puedas hablar correctamente desde el principio.",
//     content: [
//       "Domina los tiempos verbales más importantes de forma sencilla y práctica.",
//       "Incluye un mini-libro de ejercicios para repasar y memorizar las reglas.",
//       "Perfecto para quienes quieren hablar correctamente sin abrumarse.",
//     ],
//   },
//   {
//     sessions: [1, "Sesiones de video"],
//     homeworks: [3, "Tareas y recursos"],
//     title: "Comprensión auditiva y conversación",
//     description:
//       "Mejora tu comprensión auditiva y habilidades conversacionales a través de audios auténticos y prácticas guiadas. Aprende a entender y responder con confianza en conversaciones reales.",
//     content: [
//       "Escucha podcasts y audios auténticos para mejorar tu oído en español.",
//       "Realiza ejercicios interactivos para practicar la comprensión.",
//       "Recibe material extra: tarjetas de vocabulario, ejercicios y un pequeño regalo sorpresa.",
//     ],
//   },
// ];
---

<div class="mb-20 text-black">
  <Title sizeText="text-2xl" sizeLine="h-1" sizeWidth="w-16">{data.title}</Title>
  <div class="text-center m-auto w-3/4 xl:w-1/2">
    {data.summary.map((data, _) => <p>{data}</p>)}
  </div>
  <div class="flex flex-col md:flex-row w-full xl:w-3/4 m-auto px-0 md:px-10 lg:px-0 scroll-fade-in">
    <div class="min-w-96 p-10 flex flex-col justify-center align-middle items-center">
      <h1 class="text-red font-semibold text-2xl">
        {data.ideal_for.title}<br /><span class="text-[--color-salmon]">{data.ideal_for.title_color}</span>
      </h1>
      <img src="/img/salmon.webp" alt="" class="w-96 h-auto min-h-32 sm:min-h-40 my-2 object-cover" />
    </div>
    <div class="flex flex-col justify-center items-start px-5 md:px-0">
      {
        data.ideal_for.points.map((data, i) => (
          <div class="m-3 flex justify-center items-start flex-col md:flex-row ">
            <div class="flex justify-center items-center">
              <div class="bg-salmon min-w-6 h-6 rounded-full m-3 text-white flex justify-center align-middle">
                {i + 1}
              </div>
              <h2 class="font-semibold text-red min-w-20 lg:min-w-36 text-sm lg:text-base max-w-96 lg:max-w-36">
                {data.title}
              </h2>
            </div>
            <p class="text-sm text-black">{data.description}</p>
          </div>
        ))
      }
    </div>
  </div>
  <div class="w-full md:w-1/2 p-10 md:m-auto scroll-fade-in">
    {data.modules.map((module, index) => <CardModule data={module} index={index} />)}
  </div>
</div>
